* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.overflow::-webkit-scrollbar {
  width: 1px; /* Ajusta el ancho según tus preferencias */
}

.overflow::-webkit-scrollbar-thumb {
  background-color: red; /* Cambia el color de la barra de desplazamiento */
  border-radius: 100px; /* Ajusta el radio de esquina según tus preferencias */
}
/* 
.ul ul li {
  text-decoration: none;
  list-style: none;
  text-transform: capitalize;
  display: inline-flex;
} */
